{#
/**
 * @file
 * Default theme implementation to display a one plus four grid layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'section',

]
%}

{% 
  set containerSizes = [
    'container--regular-width',
  ]
%}

{% if content %}
  <section class="section {{ content['#settings'].layout_section_bg_color }} {% if content['#settings'].layout_show_header == true %} section--show-header {% endif %}" {% if content['#settings'].layout_jump_link %} tabindex="-1" {% endif %}>
    <div class="container {{ content['#settings'].layout_container_size }} {{ content['#settings'].layout_bg_color }}">
      <div class="section--header">
        <h2 class="section-header line-bottom">
          {{ content['#settings'].label }}
        </h2>
      </div>
      <div class="section--content {{ content['#settings'].layout_two_col_sizes }}">
          {% if content.first %}
            <div{{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
              {{ content.first }}
            </div>
          {% endif %}
        </div>
    </div>
  </section>
{% endif %}